<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
 <copyright>
	 Copyright (c) 2009-2011, EBM WebSourcing
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to EBM WebSourcing (4, rue Amelie - 31200 Toulouse, France).
 </copyright>
-->

<plugin>

   <extension-point id="componentExtension" name="Extension to support component" schema="schema/componentExtension.exsd"/>
   <extension-point id="jbiExtensionPackage" name="To register EPackages that are extensions to JBI" schema="schema/jbiExtensionPackage.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.ebmwebsourcing.petals.common.views"
            class="com.ebmwebsourcing.petals.services.explorer.ServiceExplorerNavigator"
            icon="icons/obj16/petals_service.png"
            id="com.ebmwebsourcing.petals.services.explorer"
            name="Petals Services">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.ebmwebsourcing.petals.services.explorer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="com.ebmwebsourcing.petals.services.endpointExplorerContent">
            </contentExtension>
            <contentExtension
                  pattern="com.ebmwebsourcing.petals.services.suEditorLinkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="com.ebmwebsourcing.petals.services.explorer.dnd.ServiceExplorerDragAdapterAssistant"
            viewerId="com.ebmwebsourcing.petals.services.explorer">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.ebmwebsourcing.petals.services.explorer.ServiceExplorerContentProvider"
            id="com.ebmwebsourcing.petals.services.endpointExplorerContent"
            labelProvider="com.ebmwebsourcing.petals.services.explorer.ServiceExplorerLabelProvider"
            name="Petals services"
            priority="normal">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="projectNature"
                     value="com.ebmwebsourcing.petals.services.su.nature.SuNature">
               </test>
            </and>
         </triggerPoints>
         <actionProvider
               class="com.ebmwebsourcing.petals.services.explorer.ServiceExplorerActionProvider">
         </actionProvider>
         <commonSorter
               class="com.ebmwebsourcing.petals.services.explorer.CommonSorter"
               id="com.ebmwebsourcing.petals.services.explorer.CommonSorter">
         </commonSorter>
         <enablement>
            <instanceof
                  value="java.lang.Object">
            </instanceof>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.ebmwebsourcing.petals.services.su.explorer.SuEditorLinkHelper"
            id="com.ebmwebsourcing.petals.services.suEditorLinkHelper">
         <editorInputEnablement></editorInputEnablement>
         <selectionEnablement></selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         id="com.ebmwebsourcing.petals.tools.eclipse.su.main.nature"
         name="Petals Nature (Service Units)"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.ebmwebsourcing.petals.services.su.nature.SuNature">
         </run>
      </runtime>
      <builder
            id="com.ebmwebsourcing.petals.tools.eclipse.su.main.suBuilder">
      </builder>
   </extension>
   <extension
         id="com.ebmwebsourcing.petals.tools.eclipse.su.main.suBuilder"
         name="Petals Builder (Service Units)"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true">
         <run
               class="com.ebmwebsourcing.petals.services.su.nature.SuBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ebmwebsourcing.petals.services.sa.editor.JbiFormEditor"
            default="true"
            filenames="jbi.xml"
            icon="icons/obj16/jbi_descriptor.png"
            id="com.ebmwebsourcing.petals.services.formeditor"
            name="Petals Form Editor">
         <contentTypeBinding
               contentTypeId="com.ebmwebsourcing.petals.common.jbiContentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.ebmwebsourcing.petals.services.su.projectscnf.SuProjectContentProvider"
            id="com.ebmwebsourcing.petals.projects.service-units"
            labelProvider="com.ebmwebsourcing.petals.common.internal.provisional.projectscnf.PetalsProjectLabelProvider"
            name="Service Units"
            priority="normal">
         <triggerPoints>
            <test
                  property="com.ebmwebsourcing.petals.common.project-category-id"
                  value="petals.category.service-units">
            </test>
         </triggerPoints>
         <dropAssistant
               class="org.eclipse.ui.navigator.resources.ResourceDropAdapterAssistant"
               id="com.ebmwebsourcing.petals.services.dropAssistant">
            <possibleDropTargets>
            	<or>
	                 <adapt type="org.eclipse.core.resources.IProject"/>
	                 <adapt type="org.eclipse.core.resources.IFolder"/>
	                 <adapt type="org.eclipse.core.resources.IFile"/>
              	</or>
            </possibleDropTargets>
         </dropAssistant>
         <commonSorter
               class="com.ebmwebsourcing.petals.common.internal.provisional.projectscnf.PetalsProjectsSorter"
               id="com.ebmwebsourcing.petals.common.projectscnf.PetalsProjectResourceSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.ebmwebsourcing.petals.services.sa.projectscnf.SaProjectContentProvider"
            id="com.ebmwebsourcing.petals.projects.service-assemblies"
            labelProvider="com.ebmwebsourcing.petals.common.internal.provisional.projectscnf.PetalsProjectLabelProvider"
            name="Service Assemblies"
            priority="normal">
         <triggerPoints>
            <test
                  property="com.ebmwebsourcing.petals.common.project-category-id"
                  value="petals.category.service-assemblies">
            </test>
         </triggerPoints>
         <commonSorter
               class="com.ebmwebsourcing.petals.common.internal.provisional.projectscnf.PetalsProjectsSorter"
               id="com.ebmwebsourcing.petals.common.projectscnf.PetalsProjectResourceSorter">
         </commonSorter>
         <dropAssistant
               class="org.eclipse.ui.navigator.resources.ResourceDropAdapterAssistant"
               id="com.ebmwebsourcing.petals.services.dropAssistant">
            <possibleDropTargets>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFolder">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
               </or>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <commonWizard
            type="import"
            wizardId="com.ebmwebsourcing.petals.services.importSaWizard">
         <enablement></enablement>
      </commonWizard>
      <commonFilter
            activeByDefault="true"
            class="com.ebmwebsourcing.petals.services.su.projectscnf.AttachedSuProjectsFilter"
            description="Service Units that are linked with Serivce Assembly projects"
            id="com.ebmwebsourcing.petals.services.orphanSuFilter"
            name="Attached Service Units">
      </commonFilter>
      <commonWizard
            type="export"
            wizardId="com.ebmwebsourcing.petals.services.suExportWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="export"
            wizardId="com.ebmwebsourcing.petals.services.saExportWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="export"
            wizardId="com.ebmwebsourcing.petals.services.suBulkExportWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="import"
            wizardId="com.ebmwebsourcing.petals.services.importFileStructure">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.ebmwebsourcing.petals.common.projects">
         <includes>
            <contentExtension
                  pattern="com.ebmwebsourcing.petals.services.orphanSuFilter">
            </contentExtension>
            <contentExtension
                  pattern="com.ebmwebsourcing.petals.services.editor.PetalsEditorsLinkHelper">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.ebmwebsourcing.petals.common.wizards"
            class="com.ebmwebsourcing.petals.services.sa.wizards.PetalsSaNewWizard"
            finalPerspective="com.ebmwebsourcing.petals.common.mainPerspective"
            hasPages="true"
            icon="icons/obj16/service_assembly.png"
            id="com.ebmwebsourcing.petals.services.sa.project"
            name="Service Assembly"
            project="true">
         <description>
            Create a Service Assembly project compatible with the Petals Maven plug-in
         </description>
      </wizard>
      <wizard
            category="com.ebmwebsourcing.petals.common.wizards"
            class="com.ebmwebsourcing.petals.services.su.wizards.PetalsSuNewWizard:provides"
            finalPerspective="com.ebmwebsourcing.petals.common.mainPerspective"
            hasPages="true"
            icon="icons/obj16/petals_service.png"
            id="com.ebmwebsourcing.petals.services.service-provider.project"
            name="Petals Service"
            project="true">
         <description>
            Create a Service Unit project to define a new Petals service
         </description>
      </wizard>
      <wizard
            category="com.ebmwebsourcing.petals.common.wizards"
            class="com.ebmwebsourcing.petals.services.su.wizards.PetalsSuNewWizard:consumes"
            finalPerspective="com.ebmwebsourcing.petals.common.mainPerspective"
            hasPages="true"
            icon="icons/obj16/consumes_3.0.png"
            id="com.ebmwebsourcing.petals.services.service-consumer.project"
            name="Petals Service Consumer"
            project="true">
         <description>
            Create a Service Unit project to define a new Petals service
         </description>
      </wizard>
   </extension>
   <extension
         id="com.ebmwebsourcing.petals.services.saNature"
         name="Petals Nature (Service Assemblies)"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.ebmwebsourcing.petals.services.sa.nature.SaNature">
         </run>
      </runtime>
      <builder
            id="com.ebmwebsourcing.petals.services.saBuilder">
      </builder>
   </extension>
   <extension
         id="com.ebmwebsourcing.petals.services.saBuilder"
         name="Petals Builder (Service Assemblies)"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true">
         <run
               class="com.ebmwebsourcing.petals.services.sa.nature.SaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:petals.projects.new?before=petals.new.separator1">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/obj16/service_assembly.png"
               label="Service Assembly"
               mnemonic="A"
               style="push"
               tooltip="Create a new Service Assembly project">
            <parameter
                  name="newWizardId"
                  value="com.ebmwebsourcing.petals.services.sa.project">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/obj16/petals_service.png"
               label="Petals Service"
               mnemonic="U"
               style="push"
               tooltip="Create a new Service Unit project">
            <parameter
                  name="newWizardId"
                  value="com.ebmwebsourcing.petals.services.service-provider.project">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:petals.projects.resource.new?after=petals.wizard.new">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/obj16/service_assembly.png"
               label="Service Assembly"
               mnemonic="A"
               style="push"
               tooltip="Create a new Service Assembly project">
            <parameter
                  name="newWizardId"
                  value="com.ebmwebsourcing.petals.services.sa.project">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/obj16/petals_service.png"
               label="Petals Service"
               mnemonic="U"
               style="push"
               tooltip="Create a new Service Unit project">
            <parameter
                  name="newWizardId"
                  value="com.ebmwebsourcing.petals.services.service-provider.project">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ebmwebsourcing.petals.common.actiongroup?before=com.ebmwebsourcing.petals.common.group.natures">
         <command
               commandId="com.ebmwebsourcing.petals.common.addPetalsNature"
               label="Add Nature for Service Units"
               style="push"
               tooltip="Add the Petals SU nature to the project">
            <parameter
                  name="natureId"
                  value="com.ebmwebsourcing.petals.tools.eclipse.su.main.nature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="com.ebmwebsourcing.petals.common.jbi-type"
                              value="SU">
                        </test>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.ebmwebsourcing.petals.tools.eclipse.su.main.nature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.ebmwebsourcing.petals.common.addPetalsNature"
               label="Add Nature for Service Assemblies"
               style="push"
               tooltip="Add the Petals SA nature to the project">
            <parameter
                  name="natureId"
                  value="com.ebmwebsourcing.petals.services.saNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="com.ebmwebsourcing.petals.common.jbi-type"
                              value="SA">
                        </test>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.ebmwebsourcing.petals.services.saNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.ebmwebsourcing.petals.common.actiongroup?after=com.ebmwebsourcing.petals.common.group.edit">
         <command
               commandId="com.ebmwebsourcing.petals.services.sa.updatepom"
               label="Update the project&apos;s POM"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.ebmwebsourcing.petals.services.saNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.ebmwebsourcing.petals.services.su.propertytester.ComponentPropertyTester"
            id="com.ebmwebsourcing.petals.services.componentPropertyTester"
            namespace="com.ebmwebsourcing.petals.services"
            properties="component-name"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.ebmwebsourcing.jbi.core.petals-category"
            description="Update the POM of a SA project"
            id="com.ebmwebsourcing.petals.services.sa.updatepom"
            name="Update the project&apos;s POM"
            defaultHandler="com.ebmwebsourcing.petals.services.sa.commands.UpdateSaPomHandler">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ebmwebsourcing.petals.services.su.export.SuFastExportCommandHandler"
            commandId="com.ebmwebsourcing.petals.common.fastexport">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.ebmwebsourcing.petals.tools.eclipse.su.main.nature">
                           </test>
                        </and>
                     </adapt>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.ebmwebsourcing.petals.tools.eclipse.su.main.nature">
                        </test>
                    </and>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ebmwebsourcing.petals.services.sa.commands.SaFastExportCommandHandler"
            commandId="com.ebmwebsourcing.petals.common.fastexport">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.ebmwebsourcing.petals.services.saNature">
                        </test>
                     </adapt>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.ebmwebsourcing.petals.services.saNature">
                        </test>
                     </and>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ebmwebsourcing.petals.services.sa.refactoring.SaProjectRefactorHandler"
            commandId="com.ebmwebsourcing.petals.common.refactorProject">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.ebmwebsourcing.petals.services.saNature">
                           </test>
                        </adapt>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.ebmwebsourcing.petals.services.saNature">
                           </test>
                        </and>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ebmwebsourcing.petals.services.su.refactoring.SuProjectRefactorHandler"
            commandId="com.ebmwebsourcing.petals.common.refactorProject">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.ebmwebsourcing.petals.tools.eclipse.su.main.nature">
                           </test>
                        </adapt>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.ebmwebsourcing.petals.tools.eclipse.su.main.nature">
                           </test>
                        </and>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.ebmwebsourcing.petals.common.importWizard"
            class="com.ebmwebsourcing.petals.services.wizards.ServiceAssemblyImportWizard"
            icon="icons/obj16/import_service_assembly.png"
            id="com.ebmwebsourcing.petals.services.importSaWizard"
            name="Service Assembly">
         <description>
            Import a Petals service assembly as a set of Petals projects
         </description>
      </wizard>
      <wizard
            category="com.ebmwebsourcing.petals.common.importWizard"
            class="com.ebmwebsourcing.petals.services.wizards.FileStructureImportWizard"
            icon="icons/obj16/importdir_wiz.gif"
            id="com.ebmwebsourcing.petals.services.importFileStructure"
            name="Petals File Structure">
         <description>
            Create a Petals project from a file structure
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.ebmwebsourcing.petals.common.preferences"
            class="com.ebmwebsourcing.petals.services.su.preferences.SuPreferencePage"
            id="com.ebmwebsourcing.petals.services.prefs.services"
            name="Services">
      </page>
      <page
            category="com.ebmwebsourcing.petals.common.preferences"
            class="com.ebmwebsourcing.petals.services.preferences.MavenPreferencePage"
            id="com.ebmwebsourcing.petals.services.prefs.maven"
            name="Maven">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.ebmwebsourcing.petals.services.su.properties.SuPropertyPage"
            id="com.ebmwebsourcing.petals.services.su.properties"
            name="Petals">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
         <filter
               name="projectNature"
               value="com.ebmwebsourcing.petals.tools.eclipse.su.main.nature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.ebmwebsourcing.petals.common.exportWizard"
            class="com.ebmwebsourcing.petals.services.su.export.SuBulkExportWizard"
            icon="icons/obj16/jbi_export.png"
            id="com.ebmwebsourcing.petals.services.suBulkExportWizard"
            name="Bulk Services">
         <description>
            Generate several Petals services from one Service Unit project
         </description>
      </wizard>
      <wizard
            category="com.ebmwebsourcing.petals.common.exportWizard"
            class="com.ebmwebsourcing.petals.services.su.export.SuExportWizard"
            icon="icons/obj16/su_export.png"
            id="com.ebmwebsourcing.petals.services.suExportWizard"
            name="Service Unit">
         <description>
            Export one or several Service Unit projects
         </description>
      </wizard>
      <wizard
            category="com.ebmwebsourcing.petals.common.exportWizard"
            class="com.ebmwebsourcing.petals.services.sa.export.SaExportWizard"
            icon="icons/obj16/sa_export.png"
            id="com.ebmwebsourcing.petals.services.saExportWizard"
            name="Service Assembly">
         <description>
            Export one or several Service Assembly projects
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.ebmwebsourcing.petals.services.explorer">
         <propertyCategory
               category="com.ebmwebsourcing.petals.services">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.ebmwebsourcing.petals.services.explorer">
         <propertyTab
               category="com.ebmwebsourcing.petals.services"
               id="com.ebmwebsourcing.petals.services.cardIDTab"
               label="Identification">
         </propertyTab>
         <propertyTab
               afterTab="com.ebmwebsourcing.petals.services.cardIDTab"
               category="com.ebmwebsourcing.petals.services"
               id="com.ebmwebsourcing.petals.services.sourceTab"
               label="Source">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.ebmwebsourcing.petals.services.explorer">
         <propertySection
               class="com.ebmwebsourcing.petals.common.internal.provisional.tabbedproperties.ServiceCardIdSection"
               enablesFor="1"
               id="com.ebmwebsourcing.petals.services.cardIDSection"
               tab="com.ebmwebsourcing.petals.services.cardIDTab">
            <input
                  type="com.ebmwebsourcing.petals.common.internal.provisional.tabbedproperties.IServiceCardId">
            </input>
         </propertySection>
         <propertySection
               class="com.ebmwebsourcing.petals.services.properties.EndpointSourcePropertySection"
               enablesFor="1"
               id="com.ebmwebsourcing.petals.services.sourceSection"
               tab="com.ebmwebsourcing.petals.services.sourceTab">
            <input
                  type="com.ebmwebsourcing.petals.services.explorer.model.EndpointBean">
            </input>
            <input
                  type="com.ebmwebsourcing.petals.services.explorer.sources.EndpointSource">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="com.ebmwebsourcing.petals.common.projectCategories">
      <Category
            class="com.ebmwebsourcing.petals.services.su.projectscnf.SuProjectCategory">
      </Category>
      <Category
            class="com.ebmwebsourcing.petals.services.sa.projectscnf.SaProjectCategory">
      </Category>
   </extension>
   
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ebmwebsourcing.petals.services.jbi.editor.JbiFormEditor"
            contributorClass="org.eclipse.emf.edit.ui.action.EditingDomainActionBarContributor"
            default="true"
            filenames="jbi.xml"
            icon="icons/obj16/jbi_descriptor.png"
            id="com.ebmwebsourcing.petals.services.jbi.editor.JbiFormEditor"
            name="Petals Form Editor (EMF)">
         <contentTypeBinding
               contentTypeId="com.ebmwebsourcing.petals.common.jbiContentType">
         </contentTypeBinding>
      </editor>
   </extension>
    <extension
          point="com.ebmwebsourcing.petals.services.componentExtension">
       <ComponentSupport
             id="generic">
          <ComponentVersionSupport
                componentVersionDescription="com.ebmwebsourcing.petals.services.su.extensions.generic.GenericComponentDescription"
                id="Generic"
                wizardExtension="com.ebmwebsourcing.petals.services.su.extensions.generic.GenericComponentWizardHandler">
          </ComponentVersionSupport>
       </ComponentSupport>
    </extension>

</plugin>
