<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Eclipse 3.7 - Indigo" sequenceNumber="12">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.jdom" version="1.1.1.v201101151400"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.soa.sca.core.feature.feature.group" version="2.2.0.201106080505"/>
<unit id="org.eclipse.soa.sca.sca1_0.feature.feature.group" version="2.2.0.201106080505"/>
<repository location="http://download.eclipse.org/soa/sca/indigo/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.feature.group" version="3.7.0.v20110216-9DB5Fm1FpBGy_AaVz-mFamgY"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.1.1.v20110526-6-Bg9JXOePwKUTU7X0teV1RtDu-e"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.7.0.v20110425-2050-7G7W-A5WNg9RDcRXDHeSRSTUiNLI"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.5.0.v20110426-2159-47D08xGD6ExNBM7CIJa3CIKK9t84"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.5.0.v20110607-1200-67N09E9QnChoWswz-3wf_rz0kQ8Y"/>
<unit id="org.eclipse.jet.sdk.feature.group" version="1.1.1.v201101271243-42186A5NsKEQPHRQeFaJS4A35"/>
<unit id="org.eclipse.jdt.feature.group" version="3.7.0.v20110520-0800-7z8gFchFMTdFYKuLqBLqRja9B15B"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.3.0.v201103310011-7H7EFZ-DxumTla66ahfUnHfpsz0u5Z92pU4TxSL"/>
<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.2.0.v201102200555-7T7YFRSFIqUoIrvYEvBiPGJXGZNg"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.3.0.v201102200555-7A6FHr9xFcAVCFLZBBJLIR43A"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.100.v20110303-51EoAkF77g8HBSc"/>
<unit id="org.eclipse.wst.ws_wsdl15.feature.feature.group" version="1.5.301.v201102200555-2407w312123151655"/>
<unit id="org.eclipse.wst.server_core.feature.feature.group" version="3.3.0.v201102200555-30FBb8s73553C5K"/>
<unit id="org.eclipse.wst.server_ui.feature.feature.group" version="3.3.0.v201102200555-7B77FGMAtJcexENNgECGJAP775"/>
<unit id="org.eclipse.wst.ws_core.feature.feature.group" version="3.3.0.v201102200555-7L7RFi7FGtGd-thnz0ysWug2766"/>
<unit id="org.eclipse.wst.ws_ui.feature.feature.group" version="3.3.0.v201102200555-7I7AFeREtEoVEjj76K0kpf98puxOLDNv169v6_A3"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wst.sse.sieditor.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/webtools/incubator/repository/sieditor/snapshot"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.bpel.feature.feature.group" version="0.8.0.v20120104-0509-H102-CI"/>
<repository location="https://hudson.eclipse.org/hudson/job/bpel-0.5/lastSuccessfulBuild/artifact/site/target/site/"/>
</location>
</locations>
</target>
