<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://petals.ow2.org/components/extensions/version-5"
            class="com.ebmwebsourcing.petals.jbi.editor.form.cdk5.model.cdk5.Cdk5Package"
            genModel="model/cdk5.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="cdk5"
            class="com.ebmwebsourcing.petals.jbi.editor.form.cdk5.model.cdk5.util.Cdk5ResourceFactoryImpl"/>
   </extension>
   
   <extension
         point="com.ebmwebsourcing.petals.services.cdkSupport">
      <cdkSupport
            id="cdk5"
            editorExtension="com.ebmwebsourcing.petals.services.cdk.editor.CDK5Support"
            namespace="http://petals.ow2.org/components/extensions/version-5"
            priority="1">
      </cdkSupport>
   </extension>

</plugin>
