<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2012, EBM WebSourcing
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to EBM WebSourcing (4, rue Amelie - 31200 Toulouse, France).
 </copyright>
-->

<plugin>
   <extension
         point="com.ebmwebsourcing.petals.services.componentExtension">
      <ComponentSupport
            id="xslt">
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.xslt.XsltDescription23"
               editorExtension="com.ebmwebsourcing.petals.services.xslt.editor.XsltEditorContribution"
               id="XSLT 2.3"
               namespace="http://petals.ow2.org/components/xslt/version-2"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.xslt.wizard.XsltWizard23">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.xslt.XsltDescription24"
               editorExtension="com.ebmwebsourcing.petals.services.xslt.editor.XsltEditorContribution"
               id="XSLT 2.4"
               namespace="http://petals.ow2.org/components/xslt/version-2"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.xslt.wizard.XsltWizard24">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.xslt.XsltDescription25"
               editorExtension="com.ebmwebsourcing.petals.services.xslt.editor.XsltEditorContribution"
               id="XSLT 2.5"
               namespace="http://petals.ow2.org/components/xslt/version-2"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.xslt.wizard.XsltWizard25">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.xslt.XsltDescription26"
               editorExtension="com.ebmwebsourcing.petals.services.xslt.editor.XsltEditorContribution"
               id="XSLT 2.6"
               namespace="http://petals.ow2.org/components/xslt/version-2"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.xslt.wizard.XsltWizard26">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.ebmwebsourcing.petals.studio.services.xslt.xslt.XsltPackage"
            genModel="model/xslt.genmodel"
            uri="http://petals.ow2.org/components/xslt/version-2">
      </package>
   </extension>

</plugin>
