<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2016, Linagora

	 All rights reserved. This program and the accompanying materials
 	 are made available under the terms of the Eclipse Public License v1.0
 	 which accompanies this distribution, and is available at
 	 http://www.eclipse.org/legal/epl-v10.html
 
 	 Contributors:
     	 	Linagora - initial API and implementation
 </copyright>
-->

<plugin>
   <extension
         point="com.ebmwebsourcing.petals.services.componentExtension">
      <ComponentSupport
            id="quartz">
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.quartz.v11.QuartzDescription11"
               consumesExtensionWizard="com.ebmwebsourcing.petals.services.quartz.v11.QuartzWizard11"
               editorExtension="com.ebmwebsourcing.petals.services.quartz.editor.QuartzEditorContribution"
               id="Quartz 1.1"
               namespace="http://petals.ow2.org/components/quartz/version-1">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.quartz.v12.QuartzDescription12"
               consumesExtensionWizard="com.ebmwebsourcing.petals.services.quartz.v12.QuartzWizard12"
               editorExtension="com.ebmwebsourcing.petals.services.quartz.editor.QuartzEditorContribution"
               id="Quartz 1.2"
               namespace="http://petals.ow2.org/components/quartz/version-1">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.quartz.v13.QuartzDescription13"
               consumesExtensionWizard="com.ebmwebsourcing.petals.services.quartz.v13.QuartzWizard13"
               editorExtension="com.ebmwebsourcing.petals.services.quartz.editor.QuartzEditorContribution"
               id="Quartz 1.3"
               namespace="http://petals.ow2.org/components/quartz/version-1">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.quartz.v14.QuartzDescription14"
               consumesExtensionWizard="com.ebmwebsourcing.petals.services.quartz.v14.QuartzWizard14"
               editorExtension="com.ebmwebsourcing.petals.services.quartz.editor.QuartzEditorContribution"
               id="Quartz 1.4"
               namespace="http://petals.ow2.org/components/quartz/version-1">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.quartz.v15.QuartzDescription15"
               consumesExtensionWizard="com.ebmwebsourcing.petals.services.quartz.v15.QuartzWizard15"
               editorExtension="com.ebmwebsourcing.petals.services.quartz.editor.QuartzEditorContribution"
               id="Quartz 1.5"
               namespace="http://petals.ow2.org/components/quartz/version-1">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.ebmwebsourcing.petals.services.quartz.quartz.QuartzPackage"
            genModel="model/quartz.genmodel"
            uri="http://petals.ow2.org/components/quartz/version-1">
      </package>
   </extension>

</plugin>
