<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2013, Linagora
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to EBM WebSourcing (4, rue Amelie - 31200 Toulouse, France).
 </copyright>
-->

<plugin>
	
<extension
      point="com.ebmwebsourcing.petals.services.componentExtension">
      
   <ComponentSupport
         id="file transfer">
      <ComponentVersionSupport
            componentVersionDescription="com.ebmwebsourcing.petals.services.filetransfer.v24.FileTransferDescription24"
            consumesExtensionWizard="com.ebmwebsourcing.petals.services.filetransfer.v24.wizard.FileTransferConsumesWizard24"
            editorExtension="com.ebmwebsourcing.petals.services.filetransfer.v24.editor.FileTransferContributionSupport"
            id="File Transfer 2.4"
            namespace="http://petals.ow2.org/components/filetransfer/version-2"
            providesExtensionWizard="com.ebmwebsourcing.petals.services.filetransfer.v24.wizard.FileTransferProvidesWizard24">
      </ComponentVersionSupport>
      <ComponentVersionSupport
            componentVersionDescription="com.ebmwebsourcing.petals.services.filetransfer.v30.FileTransferDescription30"
            consumesExtensionWizard="com.ebmwebsourcing.petals.services.filetransfer.v30.wizard.FileTransferConsumesWizard30"
            editorExtension="com.ebmwebsourcing.petals.services.filetransfer.v30.editor.FileTransfer3ContributionSupport"
            id="File Transfer 3.0"
            namespace="http://petals.ow2.org/components/filetransfer/version-3"
            providesExtensionWizard="com.ebmwebsourcing.petals.services.filetransfer.v30.wizard.FileTransferProvidesWizard30">
      </ComponentVersionSupport>
      <ComponentVersionSupport
            componentVersionDescription="com.ebmwebsourcing.petals.services.filetransfer.v31.FileTransferDescription31"
            consumesExtensionWizard="com.ebmwebsourcing.petals.services.filetransfer.v31.FileTransferConsumesWizard31"
            editorExtension="com.ebmwebsourcing.petals.services.filetransfer.v30.editor.FileTransfer3ContributionSupport"
            id="File Transfer 3.1"
            namespace="http://petals.ow2.org/components/filetransfer/version-3"
            providesExtensionWizard="com.ebmwebsourcing.petals.services.filetransfer.v31.FileTransferProvidesWizard31">
      </ComponentVersionSupport>
   </ComponentSupport>
</extension>

<extension
      point="org.eclipse.emf.ecore.generated_package">
   <package
         class="com.ebmwebsourcing.petals.services.filetransfer.filetransfer2x.Filetransfer2xPackage"
         genModel="model/filetransfer.genmodel"
         uri="http://petals.ow2.org/components/filetransfer/version-2">
   </package>
   <package
         class="com.ebmwebsourcing.petals.services.filetransfer.filetransfer3.Filetransfer3Package"
         genModel="model/filetransfer3.genmodel"
         uri="http://petals.ow2.org/components/filetransfer/version-3">
   </package>
</extension>
</plugin>
