<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2012, EBM WebSourcing
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to EBM WebSourcing (4, rue Amelie - 31200 Toulouse, France).
 </copyright>
-->

<plugin>
   <extension
         point="com.ebmwebsourcing.petals.services.componentExtension">
      <ComponentSupport
            id="validation">
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.validation.ValidationDescription11"
               editorExtension="com.ebmwebsourcing.petals.services.validation.editor.ValidationEditorContribution"
               id="Validation 1.1"
               namespace="http://petals.ow2.org/components/validation/version-1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.validation.wizard.ValidationProvidesWizard11">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.ebmwebsourcing.petals.services.validation.validation.ValidationPackage"
            genModel="model/validation.genmodel"
            uri="http://petals.ow2.org/components/validation/version-1">
      </package>
   </extension>

</plugin>
