<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2013, Linagora
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to Linagora (80, rue Roque de Fillol - 92800 Puteaux, France).
 </copyright>
-->

<plugin>
   <extension
         point="com.ebmwebsourcing.petals.services.componentExtension">
      <ComponentSupport
            id="validation">
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.validation.v11.ValidationDescription11"
               editorExtension="com.ebmwebsourcing.petals.services.validation.editor.ValidationEditorContribution"
               id="Validation 1.1"
               namespace="http://petals.ow2.org/components/validation/version-1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.validation.v11.ValidationProvidesWizard11">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.validation.v12.ValidationDescription12"
               editorExtension="com.ebmwebsourcing.petals.services.validation.editor.ValidationEditorContribution"
               id="Validation 1.2"
               namespace="http://petals.ow2.org/components/validation/version-1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.validation.v12.ValidationProvidesWizard12">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.validation.v13.ValidationDescription13"
               editorExtension="com.ebmwebsourcing.petals.services.validation.editor.ValidationEditorContribution"
               id="Validation 1.3"
               namespace="http://petals.ow2.org/components/validation/version-1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.validation.v13.ValidationProvidesWizard13">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.ebmwebsourcing.petals.services.validation.validation.ValidationPackage"
            genModel="model/validation.genmodel"
            uri="http://petals.ow2.org/components/validation/version-1">
      </package>
   </extension>

</plugin>
