<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2013, Linagora
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to Linagora (80, rue Roque de Fillol - 92800 Puteaux, France).
 </copyright>
-->

<plugin>
   <extension
         id="com.ebmwebsourcing.petals.extension.bpeldesigner.petalsBpelBuilder"
         name="Petals BPEL Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.ebmwebsourcing.petals.services.bpel.designer.builder.PetalsBpelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.ebmwebsourcing.petals.extension.bpeldesigner.petalsBpelNature"
         name="Petals BPEL Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.ebmwebsourcing.petals.services.bpel.designer.builder.PetalsBpelNature">
         </run>
      </runtime>
      <builder
            id="com.ebmwebsourcing.petals.extension.bpeldesigner.petalsBpelBuilder">
      </builder>
   </extension>
   <extension
         id="com.ebmwebsourcing.petals.extension.bpeldesigner.petalsBpelProblem"
         name="Petals BPEL Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="petalsBpelXpathLine">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.ebmwebsourcing.petals.services.bpel.designer.Startup">
      </startup>
   </extension>
   <extension
         id="com.ebmwebsourcing.petals.common.schema"
         name="Petals XML Schema"
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution
            id="default">
         <uri
               name="http://docs.oasis-open.org/wsbpel/2.0/process/abstract"
               uri="xsd/ws-bpel_abstract_common_base.xsd">
         </uri>
         <uri
               name="http://docs.oasis-open.org/wsbpel/2.0/process/executable"
               uri="xsd/ws-bpel_executable.xsd">
         </uri>
         <uri
               name="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
               uri="xsd/ws-bpel_plnktype.xsd">
         </uri>
         <uri
               name="http://docs.oasis-open.org/wsbpel/2.0/serviceref"
               uri="xsd/ws-bpel_serviceref.xsd">
         </uri>
         <uri
               name="http://docs.oasis-open.org/wsbpel/2.0/varprop"
               uri="xsd/ws-bpel_varprop.xsd">
         </uri>
      </catalogContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.ebmwebsourcing.petals.common.wizards.utilities"
            class="com.ebmwebsourcing.petals.services.bpel.wizards.BpelToPetalsProjectsWizard"
            icon="icons/obj16/export_bpel.gif"
            id="com.ebmwebsourcing.petals.services.bpel.bpelProject"
            name="From BPEL to Petals Projects">
         <description>
            Create a set of Petals projects from a BPEL process file
         </description>
      </wizard>
   </extension>
   <extension
         point="com.ebmwebsourcing.petals.services.componentExtension">
      <ComponentSupport
            id="bpel">
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.bpel.BpelDescription1x"
               editorExtension="com.ebmwebsourcing.petals.services.bpel.editor.BpelEditorContribution"
               id="BPEL 1.x"
               namespace="http://petals.ow2.org/components/petals-bpel-engine/version-1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.bpel.wizards.BpelSuWizard">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.ebmwebsourcing.petals.services.bpel.bpel.BpelPackage"
            genModel="model/bpel.genmodel"
            uri="http://petals.ow2.org/components/petals-bpel-engine/version-1">
      </package>
   </extension>
   <extension
         point="org.eclipse.bpel.validator.factories">
      <factory
            class="com.ebmwebsourcing.petals.services.bpel.designer.validation.EasyBPELValidatorFactory"
            name="EasyBPEL Validator">
      </factory>
   </extension>
   <extension
         id="org.eclipse.validator.builder.2"
         name="BPEL Validator"
         point="org.eclipse.wst.validation.validator">
      <validator>
         <filter
               caseSensitive="false"
               nameFilter="*.bpel"
               objectClass="org.eclipse.core.resources.IFile">
         </filter>
         <run
               async="true"
               class="org.eclipse.bpel.validator.Validator"
               enabled="true"
               fullBuild="true"
               incremental="false">
         </run>
         <helper
               class="org.eclipse.bpel.validator.ValidatorHelper">
         </helper>
         <markerId
               markerIdValue="org.eclispe.bpel.validator.marker">
         </markerId>
         <runStrategy
               project="true">
         </runStrategy>
      </validator>
   </extension>
</plugin>
