<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2011, EBM WebSourcing
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to EBM WebSourcing (4, rue Amelie - 31200 Toulouse, France).
 </copyright>
-->

<plugin>
   <extension
         point="com.ebmwebsourcing.petals.services.contentExtension">
      <WizardData
      		SuType="BPEL"
            ContributorDescription="com.ebmwebsourcing.petals.services.bpel.BpelContributorDescription">
         <Version
               LastActionsPerformer="com.ebmwebsourcing.petals.services.bpel.BpelLastActionsPerformer"
               ProvideConfiguration="com.ebmwebsourcing.petals.services.bpel.BpelWizardConfiguration10"
               SuVersion="1.0">
            <WizardPage
                  WizardPageClass="com.ebmwebsourcing.petals.services.bpel.BpelFirstPage10"
                  WizardPageMode="Provide"
                  WizardPagePosition="beforeJbiPage">
            </WizardPage>
         </Version>
      </WizardData>
   </extension>
   <extension
         id="com.ebmwebsourcing.petals.extension.bpeldesigner.petalsBpelBuilder"
         name="Petals BPEL Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.ebmwebsourcing.petals.services.bpel.designer.builder.PetalsBpelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.ebmwebsourcing.petals.extension.bpeldesigner.petalsBpelNature"
         name="Petals BPEL Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.ebmwebsourcing.petals.services.bpel.designer.builder.PetalsBpelNature">
         </run>
      </runtime>
      <builder
            id="com.ebmwebsourcing.petals.extension.bpeldesigner.petalsBpelBuilder">
      </builder>
   </extension>
   <extension
         id="com.ebmwebsourcing.petals.extension.bpeldesigner.petalsBpelProblem"
         name="Petals BPEL Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="petalsBpelXpathLine">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.ebmwebsourcing.petals.services.bpel.designer.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.ebmwebsourcing.petals.common.actiongroup?before=com.ebmwebsourcing.petals.common.group.natures">
         <command
               commandId="com.ebmwebsourcing.petals.common.addPetalsNature"
               label="Add Petals BPEL Nature"
               style="push"
               tooltip="Add the Petals BPEL nature to the project">
            <parameter
                  name="natureId"
                  value="com.ebmwebsourcing.petals.extension.bpeldesigner.petalsBpelNature">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <test
                           property="com.ebmwebsourcing.petals.common.jbi-type"
                           value="SU">
                     </test>
                     <not>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.ebmwebsourcing.petals.extension.bpeldesigner.petalsBpelNature">
                        </test>
                     </not>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.ebmwebsourcing.petals.services.bpel.validate"
               label="Validate BPEL"
               style="push"
               tooltip="Validate BPEL files with the Petals BPEL Validator">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ebmwebsourcing.petals.services.bpel.handlers.ValidateBpelHandler"
            commandId="com.ebmwebsourcing.petals.services.bpel.validate">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="bpel">
                     </test>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.ebmwebsourcing.jbi.core.petals-category"
            description="Validate BPEL files with the Petals BPEL Validator"
            id="com.ebmwebsourcing.petals.services.bpel.validate"
            name="Validate BPEL">
      </command>
   </extension>
   <extension
         id="com.ebmwebsourcing.petals.common.schema"
         name="Petals XML Schema"
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution
            id="default">
         <uri
               name="http://docs.oasis-open.org/wsbpel/2.0/process/abstract"
               uri="xsd/ws-bpel_abstract_common_base.xsd">
         </uri>
         <uri
               name="http://docs.oasis-open.org/wsbpel/2.0/process/executable"
               uri="xsd/ws-bpel_executable.xsd">
         </uri>
         <uri
               name="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
               uri="xsd/ws-bpel_plnktype.xsd">
         </uri>
         <uri
               name="http://docs.oasis-open.org/wsbpel/2.0/serviceref"
               uri="xsd/ws-bpel_serviceref.xsd">
         </uri>
         <uri
               name="http://docs.oasis-open.org/wsbpel/2.0/varprop"
               uri="xsd/ws-bpel_varprop.xsd">
         </uri>
      </catalogContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.ebmwebsourcing.petals.common.importWizard"
            class="com.ebmwebsourcing.petals.services.bpel.wizards.BpelImportWizard"
            icon="icons/obj16/import_bpel.gif"
            id="com.ebmwebsourcing.petals.services.bpel.importBpel"
            name="BPEL">
         <description>
            Import a BPEL process file with all its dependencies inside a project
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.ebmwebsourcing.petals.common.exportWizard"
            class="com.ebmwebsourcing.petals.services.bpel.wizards.BpelCroquisExportWizard"
            icon="icons/obj16/export_bpel.gif"
            id="com.ebmwebsourcing.petals.services.bpel.bpelProject"
            name="BPEL to Petals Projects">
         <description>
            Create a set of Petals projects from a BPEL process file
         </description>
      </wizard>
   </extension>
</plugin>
