<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2013, Linagora
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to Linagora (80, rue Roque de Fillol - 92800 Puteaux, France).
 </copyright>
-->

<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.ebmwebsourcing.petals.services.jsr181.jsr181.Jsr181Package"
            genModel="model/jsr181.genmodel"
            uri="http://petals.ow2.org/components/jsr181/version-1">
      </package>
   </extension>

   <extension
         point="com.ebmwebsourcing.petals.services.componentExtension">
      <ComponentSupport
            id="jsr181">
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.jsr181.v11.Jsr181Description11"
               editorExtension="com.ebmwebsourcing.petals.services.jsr181.editor.JaxWsEditorContribution"
               id="Jsr181 1.1"
               namespace="http://petals.ow2.org/components/jsr181/version-1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.jsr181.v11.Jsr181ProvidesWizard11">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.jsr181.v12.Jsr181Description12"
               editorExtension="com.ebmwebsourcing.petals.services.jsr181.editor.JaxWsEditorContribution"
               id="Jsr181 1.2"
               namespace="http://petals.ow2.org/components/jsr181/version-1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.jsr181.v12.Jsr181ProvidesWizard12">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.jsr181.v13.Jsr181Description13"
               editorExtension="com.ebmwebsourcing.petals.services.jsr181.editor.JaxWsEditorContribution"
               id="Jsr181 1.3"
               namespace="http://petals.ow2.org/components/jsr181/version-1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.jsr181.v13.Jsr181ProvidesWizard13">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.jsr181.v14.Jsr181Description14"
               editorExtension="com.ebmwebsourcing.petals.services.jsr181.editor.JaxWsEditorContribution"
               id="Jsr181 1.4"
               namespace="http://petals.ow2.org/components/jsr181/version-1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.jsr181.v14.Jsr181ProvidesWizard14">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>
   
    <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.ebmwebsourcing.jbi.core.petals-category"
            defaultHandler="com.ebmwebsourcing.petals.services.jsr181.handlers.Jsr181GenerationHandler"
            description="Generate JSR-181 files"
            id="com.ebmwebsourcing.petals.services.jsr181.generate-files"
            name="Generate JSR-181 Files">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.ebmwebsourcing.petals.common.actiongroup?after=com.ebmwebsourcing.petals.common.group.edit">
         <command
               commandId="com.ebmwebsourcing.petals.services.jsr181.generate-files"
               label="Generate WSDL(s)"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <and>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="com.ebmwebsourcing.petals.tools.eclipse.su.main.nature">
                        </test>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.jdt.core.javanature">
                        </test>
                        <test
                              property="com.ebmwebsourcing.petals.services.component-name"
                              value="petals-se-jsr181">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
