<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2011, EBM WebSourcing
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to EBM WebSourcing (4, rue Amelie - 31200 Toulouse, France).
 </copyright>
-->

<plugin>
   <extension
         point="com.ebmwebsourcing.petals.services.componentExtension">
      <ComponentSupport
            id="pojo">
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.pojo.PojoDescription22"
               id="POJO 2.2"
               wizardExtension="com.ebmwebsourcing.petals.services.pojo.PojoWizard22">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>

</plugin>
