<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2013, Linagora
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to Linagora (80, rue Roque de Fillol - 92800 Puteaux, France).
 </copyright>
-->

<plugin>
   <extension
         point="com.ebmwebsourcing.petals.services.componentExtension">
      <ComponentSupport
            id="soap">
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.soap.v40.SoapDescription40"
               consumesExtensionWizard="com.ebmwebsourcing.petals.services.soap.v40.SoapConsumesWizard40"
               editorExtension="com.ebmwebsourcing.petals.services.soap.editor.SoapEditorContribution"
               id="SOAP 4.0"
               namespace="http://petals.ow2.org/components/soap/version-4"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.soap.v40.SoapProvidesWizard40">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.soap.v41.SoapDescription41"
               consumesExtensionWizard="com.ebmwebsourcing.petals.services.soap.v41.SoapConsumesWizard41"
               editorExtension="com.ebmwebsourcing.petals.services.soap.editor.SoapEditorContribution"
               id="SOAP 4.1"
               namespace="http://petals.ow2.org/components/soap/version-4"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.soap.v41.SoapProvidesWizard41">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.soap.v42.SoapDescription42"
               consumesExtensionWizard="com.ebmwebsourcing.petals.services.soap.v42.SoapConsumesWizard42"
               editorExtension="com.ebmwebsourcing.petals.services.soap.editor.SoapEditorContribution"
               id="SOAP 4.2"
               namespace="http://petals.ow2.org/components/soap/version-4"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.soap.v42.SoapProvidesWizard42">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.soap.v43.SoapDescription43"
               consumesExtensionWizard="com.ebmwebsourcing.petals.services.soap.v43.SoapConsumesWizard43"
               editorExtension="com.ebmwebsourcing.petals.services.soap.editor.SoapEditorContribution"
               id="SOAP 4.3"
               namespace="http://petals.ow2.org/components/soap/version-4"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.soap.v43.SoapProvidesWizard43">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.ebmwebsourcing.petals.services.soap.soap.SoapPackage"
            genModel="model/soap.genmodel"
            uri="http://petals.ow2.org/components/soap/version-4">
      </package>
   </extension>

</plugin>
