<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2011, EBM WebSourcing
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to EBM WebSourcing (4, rue Amelie - 31200 Toulouse, France).
 </copyright>
-->

<plugin>
   <extension
         point="com.ebmwebsourcing.petals.services.componentExtension">
      <ComponentSupport
            id="soap">
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.soap.SoapDescription40"
               consumesExtensionWizard="com.ebmwebsourcing.petals.services.soap.wizards.SoapConsumesWizard40"
               id="SOAP 4.0"
               namespace="http://petals.ow2.org/components/soap/version-4"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.soap.wizards.SoapProvidesWizard40">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.ebmwebsourcing.petals.services.soap.soap.SoapPackage"
            genModel="model/soap.genmodel"
            uri="http://petals.ow2.org/components/soap/version-4">
      </package>
   </extension>

</plugin>
