<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2011, EBM WebSourcing
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to EBM WebSourcing (4, rue Amelie - 31200 Toulouse, France).
 </copyright>
-->

<plugin>
   <extension
         point="com.ebmwebsourcing.petals.services.componentExtension">
      <ComponentSupport
            id="ftp">
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.ftp.FtpDescription31"
               id="FTP 3.1"
               wizardExtension="com.ebmwebsourcing.petals.services.ftp.FtpWizard31">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.ftp.FtpDescription32"
               id="FTP 3.2"
               wizardExtension="com.ebmwebsourcing.petals.services.ftp.FtpWizard32">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.ftp.FtpDescription33"
               id="FTP 3.3"
               wizardExtension="com.ebmwebsourcing.petals.services.ftp.FtpWizard33">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.ebmwebsourcing.petals.services.ftp.ftp3.Ftp3Package"
            genModel="model/ftp3.genmodel"
            uri="http://petals.ow2.org/components/ftp/version-3">
      </package>
   </extension>
   <extension
         point="com.ebmwebsourcing.petals.services.jbiExtensionPackage">
      <jbiExtensionPackage
            ePackageURI="http://petals.ow2.org/components/ftp/version-3">
      </jbiExtensionPackage>
   </extension>
</plugin>
