<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
	 Copyright (c) 2008-2011, EBM WebSourcing
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to EBM WebSourcing (4, rue Amelie - 31200 Toulouse, France).
 </copyright>
-->

<plugin>
	<extension
         point="com.ebmwebsourcing.petals.services.componentExtension">
      <ComponentSupport
            id="ftp">
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.sftp.SftpDescription11"
               id="SFTP 1.1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.sftp.wizards.SftpProvidesWizard11">
         </ComponentVersionSupport>
         <ComponentVersionSupport
               componentVersionDescription="com.ebmwebsourcing.petals.services.sftp.SftpDescription12"
               id="SFTP 1.2"
               namespace="http://petals.ow2.org/components/sftp/version-1"
               providesExtensionWizard="com.ebmwebsourcing.petals.services.sftp.wizards.SftpProvidesWizard12">
         </ComponentVersionSupport>
      </ComponentSupport>
   </extension>
 <extension
       point="org.eclipse.emf.ecore.generated_package">
    <package
          class="com.ebmwebsourcing.petals.services.sftp.sftp.SftpPackage"
          genModel="model/sftp.genmodel"
          uri="http://petals.ow2.org/components/sftp/version-1">
    </package>
 </extension>
 <extension
       point="com.ebmwebsourcing.petals.services.jbiExtensionPackage">
    <jbiExtensionPackage
          ePackageURI="http://petals.ow2.org/components/sftp/version-1">
    </jbiExtensionPackage>
 </extension>
</plugin>
