<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
	 Copyright (c) 2009-2013, Linagora

	 All rights reserved. This program and the accompanying materials
 	 are made available under the terms of the Eclipse Public License v1.0
 	 which accompanies this distribution, and is available at
 	 http://www.eclipse.org/legal/epl-v10.html
 
 	 Contributors:
     	 	Linagora - initial API and implementation
 </copyright>
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://java.sun.com/xml/ns/jbi"
            class="com.sun.java.xml.ns.jbi.provider.JbiItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
