<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.ebmwebsourcing.petals.common.projectCategories" name="Petals Project Categories" schema="schema/com.ebmwebsourcing.petals.common.projectCategories.exsd"/>
   <extension-point id="com.ebmwebsourcing.petals.common.formeditor" name="Petals Project Categories" schema="schema/com.ebmwebsourcing.petals.common.formeditor.exsd"/>
   <extension-point id="com.ebmwebsourcing.petals.common.croquisExtension" name="Petals Croquis Extension" schema="schema/com.ebmwebsourcing.petals.common.croquisExtension.exsd"/>

<!--
 <copyright>
	 Copyright (c) 2009-2011, EBM WebSourcing
	  
	 This source code is available under agreement available at
	 http://www.petalslink.com/legal/licenses/petals-studio
	  
	 You should have received a copy of the agreement along with this program.
	 If not, write to EBM WebSourcing (4, rue Amelie - 31200 Toulouse, France).
 </copyright>
-->

     <extension point="org.eclipse.ui.startup">
      <startup class="com.ebmwebsourcing.petals.common.internal.metamodel.validation.Startup"/>
   </extension>
   
<!--
   Constraint
   -->
 <extension point="org.eclipse.emf.validation.constraintProviders">
    <category
		id="com.ebmwebsourcing.jbi.core.metamodel.constraints.category"
		mandatory="true"
		name="JBI EMF Model - Constraints Category"> 
	</category>		
    <constraintProvider cache="true">
         <package namespaceUri="http://java.sun.com/xml/ns/jbi"/>
         <constraints categories="com.ebmwebsourcing.jbi.core.metamodel.constraints.category">
            <constraint
                  lang="Java"
                  class="com.ebmwebsourcing.petals.common.internal.metamodel.validation.constraints.ConsumesConstraints"
                  severity="ERROR"
                  mode="Batch"
                  name="JBIConsumesValidation"
                  id="com.ebmwebsourcing.jbi.core.metamodel.constraints.Consumes"
                  statusCode="1">
               <description>Validate a &apos;consumes&apos; element.
               </description>
               <message>
                  {0}
               </message>
               <target class="Consumes"/>                                   
            </constraint>
            <constraint
                  class="com.ebmwebsourcing.petals.common.internal.metamodel.validation.constraints.ConsumerConstraints"
                  id="com.ebmwebsourcing.jbi.core.metamodel.constraints.Consumer"
                  lang="Java"
                  mode="Batch"
                  name="JBIConsumerValidation"
                  severity="ERROR"
                  statusCode="1">
               <description>
                  Validate a&apos;consumer&apos; element.
               </description>
               <message>
                  {0}
               </message>
               <target
                     class="Consumer">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   
    <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="true"
            id="com.ebmwebsourcing.jbi.core.metamodel.navigation.context">
         <selector class="com.ebmwebsourcing.petals.common.internal.metamodel.validation.Context"/>
      </clientContext>
      <binding
            context="com.ebmwebsourcing.jbi.core.metamodel.navigation.context"
            category="com.ebmwebsourcing.jbi.core.metamodel.constraints.category"/>
   </extension>
    <extension
          point="org.eclipse.ui.commands">
       <category
             description="A set of commands related to to Petals tools"
             id="com.ebmwebsourcing.jbi.core.petals-category"
             name="Petals">
       </category>
       <command
             categoryId="com.ebmwebsourcing.jbi.core.petals-category"
             defaultHandler="com.ebmwebsourcing.petals.common.internal.commands.AddNatureHandler"
             id="com.ebmwebsourcing.petals.common.addPetalsNature"
             name="Add Petals Nature">
          <commandParameter
                id="natureId"
                name="Nature ID"
                optional="false">
          </commandParameter>
       </command>
       <command
             categoryId="com.ebmwebsourcing.jbi.core.petals-category"
             defaultHandler="com.ebmwebsourcing.petals.common.internal.commands.ValidateJbiXmlHandler"
             description="Validate jbi.xml files"
             id="com.ebmwebsourcing.petals.common.validate-jbi"
             name="Validate">
       </command>
       <command
             categoryId="com.ebmwebsourcing.jbi.core.petals-category"
             description="A fast export for Petals projects"
             id="com.ebmwebsourcing.petals.common.fastexport"
             name="Petals Fast Export">
       </command>
       <command
             categoryId="com.ebmwebsourcing.jbi.core.petals-category"
             description="A command to refactor a Petals project"
             id="com.ebmwebsourcing.petals.common.refactorProject"
             name="Refactor a Petals project">
       </command>
       <command
             categoryId="com.ebmwebsourcing.jbi.core.petals-category"
             defaultHandler="com.ebmwebsourcing.petals.common.internal.commands.VisitWebLinkHandler"
             description="Visit a web site"
             id="com.ebmwebsourcing.petals.common.visitWebLink"
             name="Visit Web Link">
          <commandParameter
                id="url"
                name="URL"
                optional="false">
          </commandParameter>
       </command>
       <command
             categoryId="com.ebmwebsourcing.jbi.core.petals-category"
             defaultHandler="com.ebmwebsourcing.petals.common.internal.commands.SwitchJavaPackageLayoutHandler"
             description="Command to switch the Java packages layout"
             id="com.ebmwebsourcing.petals.common.switchJavaPackagesLayout"
             name="Switch Java Package Layout">
          <state
                class="org.eclipse.ui.handlers.RadioState:hierarchical"
                id="org.eclipse.ui.commands.radioState">
          </state>
          <commandParameter
                id="org.eclipse.ui.commands.radioStateParameter"
                name="Layout"
                optional="false">
          </commandParameter>
       </command>
       <command
             description="%configureBuildPath_Desc"
             id="com.ebmwebsourcing.petals.common.configureBuildPathCommand"
             name="%configureBuildPath_Name">
       </command>
    </extension>
    <extension
          id="com.ebmwebsourcing.petals.common.schema"
          name="Petals XML Schema"
          point="org.eclipse.wst.xml.core.catalogContributions">
       <catalogContribution
             id="default">
          <uri
                name="http://java.sun.com/xml/ns/jbi"
                uri="xsd/specialized-su/jbi.xsd">
          </uri>
          <uri
                name="http://maven.apache.org/POM/4.0.0"
                uri="xsd/maven/maven-v4.0.0.xsd">
          </uri>
       </catalogContribution>
    </extension>
    <extension
          point="org.eclipse.ui.newWizards">
       <wizard
             category="com.ebmwebsourcing.petals.common.wizards"
             class="com.ebmwebsourcing.petals.common.internal.wizards.JbiXmlNewWizard"
             finalPerspective="com.ebmwebsourcing.petals.common.mainPerspective"
             hasPages="true"
             icon="icons/obj16/jbi_descriptor.png"
             id="com.ebmwebsourcing.petals.common.newJbiXmlWizard"
             name="%wizardName"
             preferredPerspectives="com.ebmwebsourcing.petals.common.mainPerspective"
             project="false">
          <description>
             Create a new JBI descriptor
          </description>
       </wizard>
       <category
             id="com.ebmwebsourcing.petals.common.wizards"
             name="Petals">
       </category>
       <category
             id="com.ebmwebsourcing.petals.common.wizards.utilities"
             name="Petals Utilities">
       </category>
       <category
             id="com.ebmwebsourcing.petals.common.wizards.attic"
             name="Petals Attic">
       </category>
       <wizard
             category="com.ebmwebsourcing.petals.common.wizards"
             class="com.ebmwebsourcing.petals.common.croquis.internal.wizards.CroquisNewWizard"
             finalPerspective="com.ebmwebsourcing.petals.common.mainPerspective"
             hasPages="true"
             icon="icons/obj16/croquis.png"
             id="com.ebmwebsourcing.petals.common.croquisWizard"
             name="Croquis"
             project="false">
          <description>
             Create a Petals croquis
          </description>
       </wizard>
    </extension>
    <extension
          point="org.eclipse.ui.importWizards">
       <category
             id="com.ebmwebsourcing.petals.common.importWizard"
             name="Petals">
       </category>
    </extension>
    <extension
          point="org.eclipse.ui.exportWizards">
       <category
             id="com.ebmwebsourcing.petals.common.exportWizard"
             name="Petals">
       </category>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="org.eclipse.wst.sse.ui.StructuredTextEditor"
             default="false"
             filenames="jbi.xml"
             icon="icons/obj16/jbi_descriptor.png"
             id="com.ebmwebsourcing.petals.common.sourceeditor"
             name="Petals Source Editor">
          <contentTypeBinding
                contentTypeId="com.ebmwebsourcing.petals.common.jbiContentType">
          </contentTypeBinding>
       </editor>
       <editor
             class="com.ebmwebsourcing.petals.common.internal.formeditor.JbiFormEditor"
             default="true"
             icon="icons/obj16/jbi_descriptor.png"
             id="com.ebmwebsourcing.petals.common.formeditor"
             name="Petals Form Editor">
          <contentTypeBinding
                contentTypeId="com.ebmwebsourcing.petals.common.jbiContentType">
          </contentTypeBinding>
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="com.ebmwebsourcing.petals.common.internal.preferences.PetalsPreferencePage"
             id="com.ebmwebsourcing.petals.common.preferences"
             name="Petals">
       </page>
    </extension>
    <extension
          point="org.eclipse.wst.sse.ui.editorConfiguration">
       <sourceViewerConfiguration
             class="com.ebmwebsourcing.petals.common.internal.editor.JbiXmlViewerConfiguration"
             target="com.ebmwebsourcing.petals.common.xmleditor">
       </sourceViewerConfiguration>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             category="com.ebmwebsourcing.petals.common.views"
             class="com.ebmwebsourcing.petals.common.internal.projectscnf.PetalsProjectNavigator"
             icon="icons/obj16/pstudio_16x16.png"
             id="com.ebmwebsourcing.petals.common.projects"
             name="Petals Projects">
          <description>
             A view to manage Petals projects.
          </description>
       </view>
       <category
             id="com.ebmwebsourcing.petals.common.views"
             name="Petals">
       </category>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.viewer">
       <viewerActionBinding
             viewerId="com.ebmwebsourcing.petals.common.projects">
          <includes>
             <actionExtension
                   pattern="com.ebmwebsourcing.petals.common.projectscnf.*">
             </actionExtension>
             <actionExtension
                   pattern="org.eclipse.ui.navigator.resources.*">
             </actionExtension>
          </includes>
       </viewerActionBinding>
       <viewerContentBinding
             viewerId="com.ebmwebsourcing.petals.common.projects">
          <includes>
             <contentExtension
                   pattern="com.ebmwebsourcing.petals.projects.*">
             </contentExtension>
             <contentExtension
                   pattern="org.eclipse.ui.navigator.resources.filters.*">
             </contentExtension>
             <contentExtension
                   pattern="org.eclipse.ui.navigator.resources.linkHelper">
             </contentExtension>
          </includes>
       </viewerContentBinding>
       <dragAssistant
             class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
             viewerId="com.ebmwebsourcing.petals.common.projects" />
    </extension>
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">

       <actionProvider
             class="com.ebmwebsourcing.petals.common.internal.projectscnf.actions.CategoryActionProvider"
             id="com.ebmwebsourcing.petals.common.projectscnf.categoryActionProvider">
          <enablement>
             <instanceof
                   value="com.ebmwebsourcing.petals.common.internal.provisional.projectscnf.PetalsProjectCategory">
             </instanceof>
          </enablement>
       </actionProvider>
       <actionProvider
             class="com.ebmwebsourcing.petals.common.internal.projectscnf.actions.ResourceActionProvider"
             id="com.ebmwebsourcing.petals.common.projectscnf.resourceActionProvider"
             overrides="org.eclipse.ui.navigator.resources.NewActions">
          <enablement>
             <and>
                <with
                      variable="activePartId">
                   <equals
                         value="com.ebmwebsourcing.petals.common.projects">
                   </equals>
                </with>
                <with
                      variable="selection">
                   <count
                         value="*">
                   </count>
                </with>
                <not>
                   <instanceof
                         value="com.ebmwebsourcing.petals.common.internal.provisional.projectscnf.PetalsProjectCategory">
                   </instanceof>
                </not>
             </and>
          </enablement>
       </actionProvider>
      <commonWizard
            type="new"
            wizardId="org.eclipse.ui.wizards.new.folder">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.eclipse.ui.wizards.new.file">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.eclipse.wst.wsdl.ui">
         <enablement></enablement>
      </commonWizard>
       <commonWizard
		        menuGroupId="petals.projects.resource.new"
		        type="new"
		        wizardId="org.eclipse.jdt.ui.wizards.NewPackageCreationWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		             	<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		           </adapt>
		        </or>
		     </enablement>
		  </commonWizard>
		  <commonWizard
		        menuGroupId="petals.projects.resource.new"
		        type="new"
		        wizardId="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		           </adapt>
		        </or>
		     </enablement>
		  </commonWizard>
   	      <commonWizard
		        menuGroupId="petals.projects.resource.new"
		        type="new"
		        wizardId="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard">
		     <enablement>
		        <or>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
		           <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
		           <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
		           <adapt type="org.eclipse.core.resources.IProject">
		              <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		           </adapt>
		        </or>
		     </enablement>
		  	</commonWizard>
			<commonWizard
				  menuGroupId="petals.projects.resource.new"
		          type="new"
		          wizardId="org.eclipse.jdt.ui.wizards.NewEnumCreationWizard">
				<enablement>
					<or>
						<instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
						<instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
						<instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
						<adapt type="org.eclipse.core.resources.IProject">
							<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
						</adapt>
					</or>
				 </enablement>
		    </commonWizard>	 
		    <commonWizard
		          menuGroupId="petals.projects.resource.new"
		          type="new"
		          wizardId="org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard">
				<enablement>
					<or> 
						<instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/> 
						<adapt type="org.eclipse.core.resources.IProject">
							<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
					</adapt>
				</or>
			</enablement>
		</commonWizard>
      <commonWizard
            type="import"
            wizardId="com.ebmwebsourcing.petals.common.importWsdl">
         <enablement></enablement>
      </commonWizard>
      <commonFilter
            activeByDefault="true"
            class="com.ebmwebsourcing.petals.common.internal.projectscnf.EmptyJavaPackageFilter"
            id="com.ebmwebsourcing.petals.projects.filters.emptyJavaPackages"
            name="Empty Java Packages">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="com.ebmwebsourcing.petals.common.internal.projectscnf.JarFragmentFilter"
            id="com.ebmwebsourcing.petals.projects.filters.externalLibraries"
            name="External Libraries">
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.ebmwebsourcing.petals.common.internal.projectscnf.MinimalPetalsProjectContentProvider"
            id="com.ebmwebsourcing.petals.projects.root"
            labelProvider="com.ebmwebsourcing.petals.common.internal.provisional.projectscnf.PetalsProjectLabelProvider"
            name="Root Categories"
            priority="highest">
         <triggerPoints>
         </triggerPoints>
         <commonSorter
               class="com.ebmwebsourcing.petals.common.internal.provisional.projectscnf.PetalsProjectsSorter"
               id="com.ebmwebsourcing.petals.common.projectscnf.PetalsProjectResourceSorter">
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.ebmwebsourcing.petals.common.internal.provisional.projectscnf.PetalsProjectContentProvider"
            id="com.ebmwebsourcing.petals.projects.sketches"
            labelProvider="com.ebmwebsourcing.petals.common.croquis.internal.projectscnf.PetalsCroquisLabelProvider"
            name="Croquis"
            priority="normal">
         <triggerPoints>
            <test
                  property="com.ebmwebsourcing.petals.common.project-category-id"
                  value="petals.category.croquis">
            </test>
         </triggerPoints>
         <commonSorter
               class="com.ebmwebsourcing.petals.common.internal.provisional.projectscnf.PetalsProjectsSorter"
               id="com.ebmwebsourcing.petals.common.projectscnf.PetalsProjectResourceSorter">
         </commonSorter>
         <dropAssistant
               class="org.eclipse.ui.navigator.resources.ResourceDropAdapterAssistant"
               id="com.ebmwebsourcing.petals.services.dropAssistant">
            <possibleDropTargets>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFolder">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
               </or>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
    </extension>
    <extension
          id="com.ebmwebsourcing.petals.common.markers"
          name="Petals markers"
          point="org.eclipse.core.resources.markers">
       <persistent
             value="true">
       </persistent>
       <super
             type="org.eclipse.core.resources.textmarker">
       </super>
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
       <attribute
             name="com.ebmwebsourcing.petals.common.xpath.attribute">
       </attribute>
    </extension>
    <extension
          point="org.eclipse.core.contenttype.contentTypes">
       <content-type
             base-type="org.eclipse.core.runtime.xml"
             file-extensions="xml"
             file-names="jbi"
             id="com.ebmwebsourcing.petals.common.jbiContentType"
             name="JBI Content Type"
             priority="normal">
          <describer
                class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
             <parameter
                   name="element"
                   value="{http://java.sun.com/xml/ns/jbi}jbi">
             </parameter>
          </describer>
       </content-type>
    </extension>
    <extension
          point="org.eclipse.ui.editors.annotationTypes">
       <type
             markerType="com.ebmwebsourcing.petals.common.markers"
             name="com.ebmwebsourcing.petals.tools.eclipse.su.main.error"
             super="org.eclipse.ui.workbench.texteditor.error">
       </type>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="popup:petals.projects.new?after=additions">
          <command
                commandId="org.eclipse.ui.newWizard"
                icon="icons/obj16/croquis.png"
                label="Croquis"
                style="push"
                tooltip="Create a new Petals croquis">
             <parameter
                   name="newWizardId"
                   value="com.ebmwebsourcing.petals.common.croquisWizard">
             </parameter>
          </command>
          <separator
                name="petals.new.separator1"
                visible="true">
          </separator>
          <command
                commandId="org.eclipse.ui.newWizard"
                icon="icons/obj16/new_wiz.gif"
                label="Other..."
                mnemonic="O"
                style="push">
          </command>
       </menuContribution>
       <menuContribution
             locationURI="popup:petals.projects.resource.new?after=petals.wizard.new">
          <command
                commandId="org.eclipse.ui.newWizard"
                icon="icons/obj16/croquis.png"
                label="Croquis"
                style="push"
                tooltip="Create a new Petals croquis">
             <parameter
                   name="newWizardId"
                   value="com.ebmwebsourcing.petals.common.croquisWizard">
             </parameter>
          </command>
       </menuContribution>
       <menuContribution
             locationURI="popup:petals.projects.import?after=petals.projects.import.separator">
          <command
                commandId="org.eclipse.ui.file.import"
                label="Import..."
                style="push">
          </command>
       </menuContribution>
       <menuContribution
             locationURI="popup:petals.projects.export?after=petals.projects.export.separator">
          <command
                commandId="org.eclipse.ui.file.export"
                label="Export..."
                style="push">
          </command>
       </menuContribution>
       <menuContribution
             locationURI="popup:org.eclipse.ui.popup.any?after=additions">
          <menu
                id="com.ebmwebsourcing.petals.common.actiongroup"
                label="Petals">
             <separator
                   name="com.ebmwebsourcing.petals.common.group.natures"
                   visible="false">
             </separator>
             <separator
                   name="com.ebmwebsourcing.petals.common.group.edit"
                   visible="true">
             </separator>
             <separator
                   name="com.ebmwebsourcing.petals.common.group.export"
                   visible="true">
             </separator>
          </menu>
       </menuContribution>
       <menuContribution
             locationURI="popup:com.ebmwebsourcing.petals.common.projects?before=group.edit">
          <menu
                commandId="org.eclipse.ui.navigate.showInQuickMenu"
                label="Show In">
             <command
                   commandId="org.eclipse.ui.navigate.showIn"
                   style="push">
                <parameter
                      name="org.eclipse.ui.navigate.showIn.targetId"
                      value="org.eclipse.jdt.ui.PackageExplorer">
                </parameter>
             </command>
             <command
                   commandId="org.eclipse.ui.navigate.showIn"
                   style="push">
                <parameter
                      name="org.eclipse.ui.navigate.showIn.targetId"
                      value="org.eclipse.ui.views.PropertySheet">
                </parameter>
             </command>
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="selection">
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <or>
                         <instanceof
                               value="org.eclipse.core.resources.IResource">
                         </instanceof>
                         <instanceof
                               value="org.eclipse.jdt.core.IJavaElement">
                         </instanceof></or>
                   </iterate>
                </with>
             </visibleWhen>
          </menu>
       </menuContribution>
       <menuContribution
             locationURI="popup:com.ebmwebsourcing.petals.common.projects?after=group.edit">
          <command
                commandId="org.eclipse.ui.edit.copy"
                label="Copy"
                style="push">
             <visibleWhen
                   checkEnabled="true">
             </visibleWhen>
          </command>
          <command
                commandId="org.eclipse.ui.edit.paste"
                label="Paste"
                style="push">
             <visibleWhen
                   checkEnabled="true">
             </visibleWhen>
          </command>
          <command
                commandId="org.eclipse.ui.edit.delete"
                label="Delete"
                style="push">
             <visibleWhen
                   checkEnabled="true">
             </visibleWhen>
          </command>
          <command
                commandId="org.eclipse.ui.edit.move"
                label="Move..."
                style="push">
             <visibleWhen
                   checkEnabled="true">
             </visibleWhen>
          </command>
          <command
                commandId="org.eclipse.ui.edit.rename"
                label="Rename..."
                style="push">
             <visibleWhen
                   checkEnabled="true">
             </visibleWhen>
          </command>
          <command
                commandId="com.ebmwebsourcing.petals.common.refactorProject"
                label="Refactor..."
                style="push">
             <visibleWhen
                   checkEnabled="true">
             </visibleWhen>
          </command>
          <command
                commandId="com.ebmwebsourcing.petals.common.configureBuildPathCommand"
                icon="icons/obj16/configure_build_path.gif"
                style="push">
             <visibleWhen
                   checkEnabled="true">
             </visibleWhen>
          </command>
          <separator
                name="com.ebmwebsourcing.petals.common.editSeparator"
                visible="true">
          </separator>
       </menuContribution>
       <menuContribution
             locationURI="popup:com.ebmwebsourcing.petals.common.projects?after=additions">
          <command
                commandId="org.eclipse.ui.file.refresh"
                label="Refresh"
                style="push"
                tooltip="Refresh the workspace and the category contents">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="selection">
                   <and>
                      <iterate
                            ifEmpty="false"
                            operator="and">
                         <instanceof
                               value="com.ebmwebsourcing.petals.common.internal.provisional.projectscnf.PetalsProjectCategory">
                         </instanceof>
                      </iterate>
                      <count
                            value="1">
                      </count>
                   </and>
                </with>
             </visibleWhen>
          </command>
       </menuContribution>
       <menuContribution
             locationURI="popup:com.ebmwebsourcing.petals.common.actiongroup?before=com.ebmwebsourcing.petals.common.group.natures">
          <command
                commandId="com.ebmwebsourcing.petals.common.validate-jbi"
                label="Validate"
                style="push"
                tooltip="Validate jbi.xml files explicitly">
             <visibleWhen
                   checkEnabled="true">
             </visibleWhen>
          </command>
          <command
                commandId="com.ebmwebsourcing.petals.common.addPetalsNature"
                label="Add Java Nature"
                style="push"
                tooltip="Add the Java nature to a project">
             <parameter
                   name="natureId"
                   value="org.eclipse.jdt.core.javanature">
             </parameter>
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="selection">
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <and>
                         <instanceof
                               value="org.eclipse.core.resources.IProject">
                         </instanceof>
                         <not>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="org.eclipse.jdt.core.javanature">
                            </test>
                         </not>
                      </and>
                   </iterate>
                   <count
                         value="1">
                   </count>
                </with>
             </visibleWhen>
          </command>
       </menuContribution>
       <menuContribution
             locationURI="popup:com.ebmwebsourcing.petals.common.actiongroup?after=com.ebmwebsourcing.petals.common.group.export">
          <command
                commandId="com.ebmwebsourcing.petals.common.fastexport"
                label="Fast Export for Petals"
                style="push"
                tooltip="Package a Petals project quickly">
             <visibleWhen
                   checkEnabled="true">
             </visibleWhen>
          </command>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="menu:com.ebmwebsourcing.petals.common.projects?after=additions">
          <menu
                label="Package Presentation">
             <command
                   commandId="com.ebmwebsourcing.petals.common.switchJavaPackagesLayout"
                   icon="icons/eview16/flatLayout.gif"
                   label="Flat"
                   style="radio">
                <parameter
                      name="org.eclipse.ui.commands.radioStateParameter"
                      value="flat">
                </parameter>
             </command>
             <command
                   commandId="com.ebmwebsourcing.petals.common.switchJavaPackagesLayout"
                   icon="icons/eview16/hierarchicalLayout.gif"
                   label="Hierarchical"
                   style="radio">
                <parameter
                      name="org.eclipse.ui.commands.radioStateParameter"
                      value="hierarchical">
                </parameter>
             </command>
          </menu>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="com.ebmwebsourcing.petals.common.petals-toolbar"
                label="Petals">
          </toolbar>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="com.ebmwebsourcing.petals.common.internal.perpsective.PetalsPerspectiveFactory"
             icon="icons/obj16/pstudio_16x16.png"
             id="com.ebmwebsourcing.petals.common.mainPerspective"
             name="Petals">
          <description>
             A perspective to work with Petals tools.
          </description>
       </perspective>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="com.ebmwebsourcing.petals.common.mainPerspective">
          <showInPart
                id="org.eclipse.jdt.ui.PackageExplorer">
          </showInPart>
          <showInPart
                id="org.eclipse.ui.views.ResourceNavigator">
          </showInPart>
          <showInPart
                id="com.ebmwebsourcing.petals.common.projects">
          </showInPart>
       </perspectiveExtension>
       <perspectiveExtension
             targetID="org.eclipse.jdt.ui.JavaPerspective">
          <showInPart
                id="com.ebmwebsourcing.petals.common.projects">
          </showInPart>
          <perspectiveShortcut
                id="com.ebmwebsourcing.petals.common.mainPerspective">
          </perspectiveShortcut>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="com.ebmwebsourcing.petals.common.internal.commands.PetalsDeleteHandler"
             commandId="org.eclipse.ui.edit.delete">
       </handler>
       <handler
             class="com.ebmwebsourcing.petals.common.internal.commands.PetalsMoveHandler"
             commandId="org.eclipse.ui.edit.move">
       </handler>
       <handler
             class="com.ebmwebsourcing.petals.common.internal.commands.RefreshCategoryHandler"
             commandId="org.eclipse.ui.file.refresh">
       </handler>
       <handler
             class="com.ebmwebsourcing.petals.common.internal.commands.PetalsRenameHandler"
             commandId="org.eclipse.ui.edit.rename">
       </handler>
       <handler
             class="com.ebmwebsourcing.petals.common.internal.commands.PetalsCopyHandler"
             commandId="org.eclipse.ui.edit.copy">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="com.ebmwebsourcing.petals.common.projects">
                </equals>
             </with>
          </activeWhen>
       </handler>
       <handler
             class="com.ebmwebsourcing.petals.common.internal.commands.PetalsPasteHandler"
             commandId="org.eclipse.ui.edit.paste">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="com.ebmwebsourcing.petals.common.projects">
                </equals>
             </with>
          </activeWhen>
       </handler>
       <handler
             class="com.ebmwebsourcing.petals.common.internal.commands.ConfigureBuildPathCommandHandler"
             commandId="com.ebmwebsourcing.petals.common.configureBuildPathCommand">
       </handler>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="com.ebmwebsourcing.petals.common.internal.preferences.PreferencesInitializer">
       </initializer>
    </extension>
    <extension
          point="org.eclipse.compare.contentMergeViewers">
       <viewer
             class="com.ebmwebsourcing.petals.common.internal.compare.XmlViewerCreator"
             extensions="xml, xsd, wsdl, bpel, composite"
             id="com.ebmwebsourcing.petals.common.xmlViewer">
       </viewer>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="com.ebmwebsourcing.petals.common.fastexport"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+F5">
       </key>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="com.ebmwebsourcing.petals.common.internal.provisional.propertytester.JbiTypePropertyTester"
             id="com.ebmwebsourcing.petals.common.jbi-type-tester"
             namespace="com.ebmwebsourcing.petals.common"
             properties="jbi-type"
             type="org.eclipse.core.resources.IProject">
       </propertyTester>
       <propertyTester
             class="com.ebmwebsourcing.petals.common.internal.provisional.propertytester.ProjectCategoryPropertyTester"
             id="com.ebmwebsourcing.petals.common.project-category-tester"
             namespace="com.ebmwebsourcing.petals.common"
             properties="project-category-id"
             type="java.lang.Object">
       </propertyTester>
    </extension>
    <extension
          point="com.ebmwebsourcing.petals.common.projectCategories">
       <Category
             class="com.ebmwebsourcing.petals.common.croquis.internal.projectscnf.CroquisProjectCategory">
       </Category>
    </extension>
</plugin>
