<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

 <extension
       point="com.ebmwebsourcing.petals.jbi.editor.form.componentSupport">
    <componentSupport
          cdkNamespace="http://petals.ow2.org/components/extensions/version-5"
          id="filetransfer-2"
          jbiExtensionSupportClass="com.ebmwebsourcing.petals.jbi.filetransfer.editor.FileTransferContributionSupport"
          namespace="http://petals.ow2.org/components/filetransfer/version-2"
          priority="1">
    </componentSupport>
 </extension>

</plugin>
